<script>
    jQuery(document).ready(function($) {

        var ResponsiveMenu = {
            trigger: '#responsive-menu-button',
            animationSpeed: 500,
            breakpoint: 1023,
            pushButton: 'off',
            animationType: 'slide',
            animationSide: 'left',
            pageWrapper: '',
            isOpen: false,
            triggerTypes: 'click',
            activeClass: 'is-active',
            container: '#responsive-menu-container',
            openClass: 'responsive-menu-open',
            accordion: 'off',
            activeArrow: '▲',
            inactiveArrow: '▼',
            wrapper: '#responsive-menu-wrapper',
            closeOnBodyClick: 'on',
            closeOnLinkClick: 'on',
            itemTriggerSubMenu: 'off',
            linkElement: '.responsive-menu-item-link',
            openMenu: function() {
                $(this.trigger).addClass(this.activeClass);
                $('html').addClass(this.openClass);
                $('.responsive-menu-button-icon-active').hide();
                $('.responsive-menu-button-icon-inactive').show();
                this.setWrapperTranslate();
                this.isOpen = true;
            },
            closeMenu: function() {
                $(this.trigger).removeClass(this.activeClass);
                $('html').removeClass(this.openClass);
                $('.responsive-menu-button-icon-inactive').hide();
                $('.responsive-menu-button-icon-active').show();
                this.clearWrapperTranslate();
                this.isOpen = false;
            },
            triggerMenu: function() {
                this.isOpen ? this.closeMenu() : this.openMenu();
            },
            triggerSubArrow: function(subarrow) {
                var sub_menu = $(subarrow).parent().next('.responsive-menu-submenu');
                var self = this;
                if(this.accordion == 'on') {
                    /* Get Top Most Parent and the siblings */
                    var top_siblings = sub_menu.parents('.responsive-menu-item-has-children').last().siblings('.responsive-menu-item-has-children');
                    var first_siblings = sub_menu.parents('.responsive-menu-item-has-children').first().siblings('.responsive-menu-item-has-children');
                    /* Close up just the top level parents to key the rest as it was */
                    top_siblings.children('.responsive-menu-submenu').slideUp(200, 'linear').removeClass('responsive-menu-submenu-open');
                    /* Set each parent arrow to inactive */
                    top_siblings.each(function() {
                        $(this).find('.responsive-menu-subarrow').first().html(self.inactiveArrow);
                        $(this).find('.responsive-menu-subarrow').first().removeClass('responsive-menu-subarrow-active');
                    });
                    /* Now Repeat for the current item siblings */
                    first_siblings.children('.responsive-menu-submenu').slideUp(200, 'linear').removeClass('responsive-menu-submenu-open');
                    first_siblings.each(function() {
                        $(this).find('.responsive-menu-subarrow').first().html(self.inactiveArrow);
                        $(this).find('.responsive-menu-subarrow').first().removeClass('responsive-menu-subarrow-active');
                    });
                }
                if(sub_menu.hasClass('responsive-menu-submenu-open')) {
                    sub_menu.slideUp(200, 'linear').removeClass('responsive-menu-submenu-open');
                    $(subarrow).html(this.inactiveArrow);
                    $(subarrow).removeClass('responsive-menu-subarrow-active');
                } else {
                    sub_menu.slideDown(200, 'linear').addClass('responsive-menu-submenu-open');
                    $(subarrow).html(this.activeArrow);
                    $(subarrow).addClass('responsive-menu-subarrow-active');
                }
            },
            menuHeight: function() {
                return $(this.container).height();
            },
            menuWidth: function() {
                return $(this.container).width();
            },
            wrapperHeight: function() {
                return $(this.wrapper).height();
            },
            setWrapperTranslate: function() {
                switch(this.animationSide) {
                    case 'left':
                        translate = 'translateX(' + this.menuWidth() + 'px)'; break;
                    case 'right':
                        translate = 'translateX(-' + this.menuWidth() + 'px)'; break;
                    case 'top':
                        translate = 'translateY(' + this.wrapperHeight() + 'px)'; break;
                    case 'bottom':
                        translate = 'translateY(-' + this.menuHeight() + 'px)'; break;
                }
                if(this.animationType == 'push') {
                    $(this.pageWrapper).css({'transform':translate});
                    $('html, body').css('overflow-x', 'hidden');
                }
                if(this.pushButton == 'on') {
                    $('#responsive-menu-button').css({'transform':translate});
                }
            },
            clearWrapperTranslate: function() {
                var self = this;
                if(this.animationType == 'push') {
                    $(this.pageWrapper).css({'transform':''});
                    setTimeout(function() {
                        $('html, body').css('overflow-x', '');
                    }, self.animationSpeed);
                }
                if(this.pushButton == 'on') {
                    $('#responsive-menu-button').css({'transform':''});
                }
            },
            init: function() {
                var self = this;
                $(this.trigger).on(this.triggerTypes, function(e){
                    e.stopPropagation();
                    self.triggerMenu();
                });
                $('.responsive-menu-subarrow').on('click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    self.triggerSubArrow(this);
                });
                $(window).resize(function() {
                    if($(window).width() > self.breakpoint) {
                        if(self.isOpen){
                            self.closeMenu();
                        }
                    } else {
                        if($('.responsive-menu-open').length>0){
                            self.setWrapperTranslate();
                        }
                    }
                });
                if(this.closeOnLinkClick == 'on') {
                    $(this.linkElement).on('click', function(e) {
                        e.preventDefault();
                        /* Fix for when close menu on parent clicks is on */
                        if(self.itemTriggerSubMenu == 'on' && $(this).is('.responsive-menu-item-has-children > ' + self.linkElement)) {
                            return;
                        }
                        old_href = $(this).attr('href');
                        old_target = typeof $(this).attr('target') == 'undefined' ? '_self' : $(this).attr('target');
                        if(self.isOpen) {
                            if($(e.target).closest('.responsive-menu-subarrow').length) {
                                return;
                            }
                            self.closeMenu();
                            setTimeout(function() {
                                window.open(old_href, old_target);
                            }, self.animationSpeed);
                        }
                    });
                }
                if(this.closeOnBodyClick == 'on') {
                    $(document).on('click', 'body', function(e) {
                        if(self.isOpen) {
                            if($(e.target).closest('#responsive-menu-container').length || $(e.target).closest('#responsive-menu-button').length) {
                                return;
                            }
                        }
                        self.closeMenu();
                    });
                }
                if(this.itemTriggerSubMenu == 'on') {
                    $('.responsive-menu-item-has-children > ' + this.linkElement).on('click', function(e) {
                        e.preventDefault();
                        self.triggerSubArrow($(this).children('.responsive-menu-subarrow').first());
                    });
                }
            }
        };
        ResponsiveMenu.init();
    });
</script>
<footer class="parallax-image dontprint" style="background-image:url(/assets/images/footer.jpeg);">
    <div class="footer-top">
        <div class="container">
            <div class="footer-form">
                <aside id="gform_widget-2" class="widget-odd widget-last widget-first widget-1 widget gform_widget">
                    <h2 class="widget-title">Request A Consultation</h2>
                    <link rel='stylesheet' id='gforms_reset_css-css' href='/assets/css/formreset.min.css' type='text/css' media='all' />
                    <link rel='stylesheet' id='gforms_formsmain_css-css' href='/assets/css/formsmain.min.css' type='text/css' media='all' />
                    <link rel='stylesheet' id='gforms_ready_class_css-css' href='/assets/css/readyclass.min.css' type='text/css' media='all' />

                    <div class='gf_browser_chrome gform_wrapper' id='gform_wrapper_1'>
                        <a id='gf_1' class='gform_anchor'></a>
                        <form method='post' enctype='multipart/form-data' target='gform_ajax_frame_1' id='gform_1' action='https://formspree.io/apardo04@gmail.com'>
                            <div class='gform_body'>
                                <ul id='gform_fields_1' class='gform_fields top_label form_sublabel_below description_below'>
                                    <li id='field_1_1' class='gfield gfct_add fa-user gfct_end gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible' style="height:58px;">
                                        <label class='gfield_label' for='input_1_1'>Name<span class='gfield_required'>*</span></label>
                                        <div class='ginput_container ginput_container_text'>
                                            <input name='name' id='input_1_1' type='text' value='' class='medium' tabindex='11' placeholder='Name*' aria-required="true" aria-invalid="false" />
                                        </div>
                                    </li>
                                    <li id='field_1_3' class='gfield gfct_add fa-envelope gfct_end gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible' style="height:58px;">
                                        <label class='gfield_label' for='input_1_3'>Email<span class='gfield_required'>*</span></label>
                                        <div class='ginput_container ginput_container_email'>
                                            <input name='email' id='input_1_3' type='text' value='' class='medium' tabindex='12' placeholder='Email*' aria-required="true" aria-invalid="false" />
                                        </div>
                                    </li>
                                    <li id='field_1_2' class='gfield gfct_add fa-phone gfct_end gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible' style="height:70px;">
                                        <label class='gfield_label' for='input_1_2'>Phone<span class='gfield_required'>*</span></label>
                                        <div class='ginput_container ginput_container_phone'>
                                            <input name='phone' id='input_1_2' type='text' value='' class='medium' tabindex='13' placeholder='Phone*' aria-required="true" aria-invalid="false" />
                                        </div>
                                    </li>
                                    <li id='field_1_6' class='gfield gfct_add fa-pencil gfct_end gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'>
                                        <label class='gfield_label' for='input_1_6'>Message<span class='gfield_required'>*</span></label>
                                        <div class='ginput_container ginput_container_textarea'>
                                            <textarea name='message' id='input_1_6' class='textarea medium' tabindex='14' placeholder='Message*' aria-required="true" aria-invalid="false" rows='10' cols='50'></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class='gform_footer top_label'>
                                <input type='submit' id='gform_submit_button_1' class='gform_button button' value='Submit' tabindex='15' onclick='window["gf_submitting_1"]=true;' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_1"]){return false;} window["gf_submitting_1"]=true;  jQuery("#gform_1").trigger("submit",[true]); }' />
                            </div>
                        </form>
                    </div>
                </aside>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="contact-address contact-details-list">
                        <h2 class="widget-title text-center">CONTACT US</h2>
                        <ul>
                            <li>
                                <div class="contact-details contact-location">
                                    <h5>Location</h5>
                                    <p>Lacayo Law Firm, P.A.<br />
                                        1000 NW 57 Court, Suite 250<br />
                                        Miami, FL 33126
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-details contact-phone">
                                    <h5>Phone Number</h5>
                                    <p><a href="tel:+17866714878">786-671-4878</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="contact-details contact-phone">
                                    <h5>Fax</h5>
                                    <p><a href="tel:+13054487788">305-448-7788</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div><iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtHH7YUi7IvFRUgghYor2lo4aLccyEep4&q=Lacayo+Law+Firm,Miami+FL" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                    <div class="footer-menu"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>© 2018 Lacayo Law Firm. All Rights Reserved. | <a href="/sitemap">Sitemap</a></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right footer-menu"></div>
            </div>
        </div>
    </div>
</footer>

<div class="scroll-back-to-top-wrapper">
<span class="scroll-back-to-top-inner">
<i class="fa fa-2x fa-arrow-circle-up"></i>
</span>
</div>
<button id="responsive-menu-button" class="responsive-menu-button responsive-menu-accessible responsive-menu-boring" type="button" aria-label="Menu">
    <span class="responsive-menu-box">
        <span class="responsive-menu-inner"></span>
    </span>
</button>
<div id="responsive-menu-container" class="slide-left">
    <div id="responsive-menu-wrapper">
        <ul id="responsive-menu" class="">
            <li id="responsive-menu-item-20" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item responsive-menu-item responsive-menu-current-item">
                <a href="http://lacayolawfirm.com" class="responsive-menu-item-link">Home</a>
            </li>
            <li id="responsive-menu-item-21" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children responsive-menu-item responsive-menu-item-has-children">
                <a href="/about-us.html" class="responsive-menu-item-link">About us</a>
            </li>
            <li id="responsive-menu-item-495" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children responsive-menu-item responsive-menu-item-has-children">
                <a href="#practice-areas" class="responsive-menu-item-link">Practice Areas<div class="responsive-menu-subarrow">▼</div></a>
                <ul class='responsive-menu-submenu responsive-menu-submenu-depth-1'>
                    <li id="responsive-menu-item-561" class=" menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-has-children responsive-menu-item responsive-menu-item-has-children">
                        <a href="/practice-area/car-accidents.html" class="responsive-menu-item-link">Car Accidents</a>
                    </li>
                    <li id="responsive-menu-item-567" class=" menu-item menu-item-type-post_type menu-item-object-practice-area responsive-menu-item">
                        <a href="/practice-area/homeowners-claims.html" class="responsive-menu-item-link">Homeownsers Claims</a>
                    </li>
                    <li id="responsive-menu-item-568" class=" menu-item menu-item-type-post_type menu-item-object-practice-area responsive-menu-item">
                        <a href="/practice-area/criminal-defense.html" class="responsive-menu-item-link">Criminal Defense</a>
                    </li>
                    <li id="responsive-menu-item-569" class=" menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-has-children responsive-menu-item responsive-menu-item-has-children">
                        <a href="/practice-area/bankruptcy.html" class="responsive-menu-item-link">Bankruptcy</a>
                    </li>
                    <li id="responsive-menu-item-574" class=" menu-item menu-item-type-post_type menu-item-object-practice-area responsive-menu-item">
                        <a href="/practice-area/traffic-tickets.html" class="responsive-menu-item-link">Traffic Tickets</a>
                    </li>
                    <li id="responsive-menu-item-575" class=" menu-item menu-item-type-post_type menu-item-object-practice-area responsive-menu-item">
                        <a href="/practice-area/family-divorce.html" class="responsive-menu-item-link">Family Divorce</a>
                    </li>
                    <li id="responsive-menu-item-576" class=" menu-item menu-item-type-post_type menu-item-object-practice-area responsive-menu-item">
                        <a href="/practice-area/slip-and-fall-injury.html" class="responsive-menu-item-link">Slip and Fall Injury</a>
                    </li>
                    <li id="responsive-menu-item-577" class=" menu-item menu-item-type-post_type menu-item-object-practice-area responsive-menu-item">
                        <a href="/practice-area/evictions.html" class="responsive-menu-item-link">Evictions</a>
                    </li>
                    <li id="responsive-menu-item-578" class=" menu-item menu-item-type-post_type menu-item-object-practice-area responsive-menu-item">
                        <a href="/practice-area/wills.html" class="responsive-menu-item-link">Wills</a>
                    </li>
                </ul>
            </li>
            <li id="responsive-menu-item-182" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-item">
                <a href="espanol.html" class="responsive-menu-item-link">Español</a>
            </li>
            <li id="responsive-menu-item-208" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-item">
                <a href="contact-us.html" class="responsive-menu-item-link">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
<script type='text/javascript'>
    /* <![CDATA[ */
    var scrollBackToTop = {"scrollDuration":"500","fadeDuration":"0.5"};
    /* ]]> */
</script>
<script type='text/javascript' src='/assets/js/scroll-back-to-top.js'></script>