<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="logo smooth">
                <a href="/">
                    <img class="desktop-logo" src="assets/images/LogoCropped.png" alt="Lacayo Law Firm - Miami Personal Injury Lawyer" title="Lacayo Law Firm - Miami Personal Injury Lawyer" />
                </a>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="header-top text-right">
                <a class="phone-link" href="tel:7866714878">Give us a call <span>786-671-4878</span></a>
                <div class="social-link">
                    <a href="https://www.facebook.com/LacayoLawFirm/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com/lacayolawfirm" target="_blank"><i class="fa fa-instagram" style="background-color:#A1755C;"></i></a>
                    <a href="https://www.linkedin.com/company/lacayo-law-firm-p.a./" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/channel/UCS1MailGPURPtVpzqKJRHeQ" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="navigation">
                <nav class="navbar navbar-default menu left">
                    <div id="navbar" class="navbar-collapse menu_wrap" aria-expanded="false">
                        <ul id="menu-main-menu" class="nav">
                            <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-6 current_page_item menu-item-20">
                                <a href="/">Home</a>
                            </li>
                            <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="about-us.html">About us</a></li>
                            <li id="menu-item-495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-495"><a href="#practice-areas">Practice Areas</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-561" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-561"><a href="/practice-area/car-accidents.html">Car Accidents</a></li>
                                    <li id="menu-item-567" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-567"><a href="/practice-area/homeowners-claims.html">Homeowners Claims</a></li>
                                    <li id="menu-item-568" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-568"><a href="/practice-area/criminal-defense.html">Criminal Defense</a></li>
                                    <li id="menu-item-569" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-569"><a href="/practice-area/bankruptcy.html">Bankruptcy</a></li>
                                    <li id="menu-item-574" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-574"><a href="/practice-area/traffic-tickets.html">Traffic Tickets</a></li>
                                    <li id="menu-item-575" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-575"><a href="/practice-area/family-divorce.html">Family/Divorce</a></li>
                                    <li id="menu-item-576" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-576"><a href="/practice-area/slip-and-fall-injury.html">Slip and Fall Injury</a></li>
                                    <li id="menu-item-577" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-577"><a href="/practice-area/evictions.html">Evictions</a></li>
                                    <li id="menu-item-578" class="menu-item menu-item-type-post_type menu-item-object-practice-area menu-item-578"><a href="/practice-area/wills.html">Wills</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182"><a href="espanol.html">Español</a></li>
                            <li id="menu-item-208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208"><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>