.gfct_fa_span i {
    margin-left: 10px;
    margin-top: 6px;
    position:absolute;
}
.gfct-uses-fa {
    padding-left: 30px !important;
}
.gfct_placeholder_active, .gform_wrapper .gfct_placeholder_active.datepicker, .gform_wrapper .gfct_placeholder_active.ginput_complex input[type="text"], .gform_wrapper .gfct_placeholder_active.ginput_complex input[type="url"], .gform_wrapper .gfct_placeholder_active.ginput_complex input[type="email"], .gform_wrapper .gfct_placeholder_active.ginput_complex input[type="tel"], .gform_wrapper .gfct_placeholder_active.ginput_complex input[type="number"], .gform_wrapper .gfct_placeholder_active.ginput_complex input[type="password"], .gform_wrapper .gfct_placeholder_active.ginput_complex select {
    width: 94% !important;
}
.gfct_placeholder_active.ginput_complex span {
    padding: 7px 0;
}/*
    Name : No Theme Theme
   Description: This theme does not output anything
   ------------------------------------------------
   */
/*
    Name : Stylish Theme
*/
.gfct_stylish .ginput_complex label {
    color: #ffffff;
}
.gfct_stylish .button.gform_button:hover {
    background: none repeat scroll 0 0 #004fed;
}
.gfct_stylish .gfield_radio, .gfct_stylish .gfield_checkbox {
    width: 56%;
    margin-top:10px !important;
}
.gfct_stylish .gform_body {
    width: 97%;
}
.gform_wrapper.gfct_stylish h3.gform_title {
    border-bottom: 1px solid #ffffff;
    line-height: 22px;
    padding-bottom: 6px;
    color:#ffffff;
}
.gform_wrapper.gfct_stylish li, .gform_wrapper.gfct_stylish form li{
    position:relative;
    visibility:visible;
}
.gfct_stylish .button.gform_previous_button {
    line-height: 22px !important;
    margin-bottom: 5px !important;
    width: 40% !important;
}
.gform_wrapper.gfct_stylish h3.gf_progressbar_title {
    color: white;
    opacity: 1 !important;
}
.gform_wrapper.gfct_stylish .button {
    background: none repeat scroll 0 0 #008fd5;
    border: 1px solid white;
    color: #fff;
    display: block;
    line-height: 38px;
    margin: 0 auto !important;
    text-transform: uppercase;
    width: 72%;
}
.gform_wrapper.gfct_stylish .gf_progressbar_wrapper {
    border-bottom: 1px solid #fff;
}
.gform_wrapper.gfct_stylish .gfield_checkbox li label, .gform_wrapper.gfct_stylish .gfield_radio li label, .gform_wrapper.gfct_stylish ul.gfield_radio li input[type="radio"]:checked + label, .gform_wrapper.gfct_stylish ul.gfield_checkbox li input[type="checkbox"]:checked + label {
    color: #ffffff;
}
.gfct_stylish .gform_page_fields {
    margin: 0 auto;
    width: 70%;
}
.gform_wrapper.gfct_stylish select, .gform_wrapper.gfct_stylish select input[type="text"], .gform_wrapper.gfct_stylish input[type="url"], .gform_wrapper.gfct_stylish input[type="email"], .gform_wrapper.gfct_stylish input[type="tel"], .gform_wrapper.gfct_stylish input[type="number"], .gform_wrapper.gfct_stylish input[type="password"] {
    display: block;
    height: 31px;
    line-height: 22px;
    margin-bottom: 12px;
    width: 56% !important;
    padding-left:9%;
}
.gfct_stylish .gfield_label {
    color:#ffffff;
    display: block;
    margin: 0 auto;
}
.gform_wrapper.gfct_stylish {
    background: none repeat scroll 0 0 rgba(77,178,224,.7);
    border-radius: 10px;
    margin: 40px auto;
    padding: 10px 10%;
    position: relative;
}
.gfct_stylish .gfct_fa_span i {
    margin-top: 0.4em;
    position: absolute;
    color: #008fd5;
}
.gfct_stylish textarea {
    margin: 1px 0;
    padding-top: 6px;
}
/*
    Name : Corporate Theme rgba-rgba(249,249,249,1)
*/
.gform_wrapper.gfct_corporate {
    background: none repeat scroll 0 0 rgba(249,249,249,1);
}
.gfct_corporate .gform_body {
    padding: 0 15px;
}
.gform_wrapper.gfct_corporate ul li, .gform_wrapper.gfct_corporate input[type="text"], .gform_wrapper.gfct_corporate input[type="url"], .gform_wrapper.gfct_corporate input[type="email"], .gform_wrapper.gfct_corporate input[type="tel"], .gform_wrapper.gfct_corporate input[type="number"], .gform_wrapper.gfct_corporate input[type="password"] {
    color: #666;
}
.gform_wrapper.gfct_corporate .gfield_label {
    color: #666;
    font-weight: lighter !important;
}
.gform_wrapper.gfct_corporate .gfield_checkbox li input[type="checkbox"], .gform_wrapper.gfct_corporate .gfield_radio li input[type="radio"], .gform_wrapper.gfct_corporate .gfield_checkbox li input{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
}
.gfct_corporate .button.gform_button{
    background: none repeat scroll 0 0 #f0776c;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin: 0 12px;
    outline: 0 none;
    padding: 0;
    text-align: center;
    width: 94%;
}
.gfct_corporate select, .gform_wrapper.gfct_corporate input[type="text"], .gform_wrapper.gfct_corporate input[type="url"], .gform_wrapper.gfct_corporate input[type="email"], .gform_wrapper.gfct_corporate input[type="tel"], .gform_wrapper.gfct_corporate input[type="number"], .gform_wrapper.gfct_corporate input[type="password"]{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    height: 39px;
    margin-bottom: 0;
    padding-left: 10px;
}
.gform_wrapper.gfct_corporate input[type="text"]:focus, .gform_wrapper.gfct_corporate input[type="url"]:focus, .gform_wrapper.gfct_corporate input[type="email"]:focus, .gform_wrapper.gfct_corporate input[type="tel"]:focus, .gform_wrapper.gfct_corporate input[type="number"]:focus, .gform_wrapper.gfct_corporate input[type="password"]:focus{
    border-color:#6e8095;
    outline: none;
}
.gfct_corporate .gform_title{
    background: none repeat scroll 0 0 #f1f1f1 !important;
    color: #666;
    font-size: 25px !important;
    font-weight: 300 !important;
    line-height: 30px;
    text-align: center;
    padding:15px 10px;
}

.gfct_corporate .left_label .gfield_label {
    margin: 5px 15px 0 0;
}
.gform_wrapper.gfct_corporate .left_label ul.gfield_checkbox, .gform_wrapper.gfct_corporate .right_label ul.gfield_checkbox, .gform_wrapper.gfct_corporate .left_label ul.gfield_radio, .gform_wrapper.gfct_corporate .right_label ul.gfield_radio {
    padding: 8px 0;
}
.gfct_corporate .gfct_fa_span i {
    color: grey;
    margin-left: 10px;
    margin-top: 11px;
    position: absolute;
}
.gform_wrapper.gfct_corporate textarea {
    font-size: 1em;
}
